.btn{
  font-size: 1rem;
  font-weight: bold;
  padding: 1.3125rem 2.5625rem;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  font-family: Play;
  border:none;

  &--main{
    background: #E01F3D;
    color:#fff;
  }

  &--main--form{
    background: #E01F3D;
    color: #FFFFFF;
    &:hover{
      background: #CA1B36;
      transition: 1s;
    }
  }
  &--main--transparent{
    background: transparent;
    color: #FFFFFF;
    text-transform: inherit;
  }
}