.feature{
  display: flex;
  max-width: 9rem;
}


.feature__icon{
  width: 3.5625rem;
  margin-right: 0.4375rem;
}

.feature__text{
  font-size: 1rem;
  color: #292929;
  font-family: Play;
}