.fixed__menu{
  position: fixed;
  top:20%;
  right: 3%;
  z-index: $z-fixed__menu;
}

.fixed__menu-item{
  margin-bottom: 5px;
  &:last-child{
    margin-bottom: 0;
  }
  position: relative;
  &--active{
    .fixed__menu-link{
      border-color: #E01F3D;
      &:before{
        position: absolute;
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        background:#E01F3D;
        border-radius:50%; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.fixed__menu-link{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  &:before{
    position: absolute;
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background:#292929;
    border-radius:50%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}