footer{
  position: absolute;
  padding: 1.25rem;
  top:100%
  

}

.phone--footer{
  align-items: flex-start;
  flex-direction: column;
}

.address{
  font-family: Play;
  font-style: normal;
  font-size: 1.125rem;
}