.headline__title{
  margin-bottom: 0.5625rem;
  line-height: 1.37;
}

.headline__subtitle{
  font-family: Play;
  font-weight: 400;
  color:#666;
  padding: 0 20%
}

.headline{
  text-align: center;
  margin-bottom: 3.6875rem;
}
