.headline__title{
  margin-bottom: 9px;
  line-height: 1.37;
}

.headline__subtitle{
  font-family: Play;
  font-weight: 400;
  color:#666;
  padding: 0px 20%
}

.headline{
  text-align: center;
  margin-bottom: 59px;
}
