.hero{
  background: url("../img/headset.png") left 65% top 47% no-repeat;
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 652px;
  position: relative;
  

  &:before{
    content:url(../img/poloska.png);
    bottom: -28px;
    right: 11%;
    position: absolute;
  }
}

.hero__main-title{
  font-size: 48px;
  font-weight: bold;
  font-family: Play;
  line-height: 1.1;
 
  text-transform: uppercase;
}

.hero__title-desc{
  font-size: 21px;
  color:#292929;
  margin-bottom: 52px;
  padding-right: 10%;
  line-height: 1.29;
}

.hero__title-section{
  width: 40%;
}

.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 26px 0 70px 0;
  width: $containerWidth;
}

