.radio{
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 1.25rem;
  &:last-child{
    margin-right: 0;
  }
  &--check{
    margin-bottom: 3.0625rem;
    .radio__visible{
      border-radius: 5px;
      &:before{
        background: url(../img/galka.png)center center no-repeat;
      }
    }
  }
}

.radio__elem{
  display: none;
  &:checked ~ .radio__visible{
    &:before{
      display: block;
    }
  }
}

.radio__visible{
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.625rem;
  
  &:before{
    content: "";
    border-radius:50%;
    width: 0.8125rem;
    height: 0.8125rem;
    background: #E01F3D;
    position: absolute;
    display: none;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
}