.reviews__display{
  background: #F8FAF9;
  padding: 42px 40px 42px ;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;

  &:before{
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -65px;
  }
}

.reviews__switcher{
  display: flex;
  justify-content: center;
}

.reviews__display-inner{
  display: flex;
}

.reviews__avatar{
  height: 264px;
  width: 253px;
}

.reviews__avatar-img{
  object-fit: cover;
  width: 100%;
}

.reviews__content{
  flex: 1;
  margin-left: 40px;
}

.reviews__title{
  font-size: 24px;
  color:#292929;
  font-weight: bold;
  font-family: Play;
  margin-bottom: 25px;
}

.reviews__text{
  font-family: Play;
  margin-bottom: 44px;
  color: #666666;
  line-height: 1.2;
  padding-right: 17%;
}

.reviews__author{
  font-family: Play;
  font-weight: bold;
  font-size: 18px;
  color: #292929;

}