.section{
  height: 100vh;
  min-height:652px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.section__title{
  font-size: 48px;
  font-weight: bold;
  font-family: Play;
  text-transform: uppercase;
  margin-bottom: 49px;
  text-align: center;
}

.container{
  width: $containerWidth;
}