$containerWidth: 57.75rem;
$baseFontSize: 1rem;
$z-fixed__menu:100;



@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&family=Play:wght@400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css);
@import "layout";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Play:wght@400;700&display=swap');

@import "./blocks/_hero";
@import "./blocks/_header";
@import "./blocks/features";
@import "./blocks/feature";
@import "./blocks/_btn";
@import "./blocks/_section";
@import "./blocks/_headline";
@import "./blocks/_benefit";
@import "./blocks/_benefits";
@import "./blocks/_benefits-section";
@import "./blocks/_reviews";
@import "./blocks/_interective-avatar";
@import "./blocks/_order__section";
@import "./blocks/form";
@import "./blocks/radio";
@import "./blocks/_fixed-menu";
@import "./blocks/_map";
@import "./blocks/_footer";
@import "./blocks/social";
@import "./blocks/media";

